@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --font-title: "Big Shoulders Display", sans-serif;
  --font-p: "Lexend Deca", sans-serif;
  --color-bg-hd-btn: hsl(0, 0%, 95%);
  --color-p: hsla(0, 0%, 100%, 0.75);
  --color-first-clmn: hsl(31, 77%, 52%);
  --color-scnd-clmn: hsl(184, 100%, 22%);
  --color-third-clmn: hsl(179, 100%, 13%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
button {
  background: var(--color-bg-hd-btn);
}

h1 {
  color: var(--color-bg-hd-btn);
  font-family: var(--font-title);
}

p {
  color: var(--color-p);
  font-size: 0.9rem;
  font-family: var(--font-p);
}

.main_content {
  max-width: 850px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
border-radius: 0.5rem;
overflow: hidden;
}

.main_content-wrapper {
  padding: 2rem;
}

.main_content-wrapper img,
.main_content-wrapper h1 {
  margin-bottom: 1rem;
}

.main_content-wrapper p {
  margin-right: 1.5rem;
  margin-bottom: 8rem;
  line-height: 1.5rem;
}

a {
  font-family: var(--font-p);
  background: var(--color-bg-hd-btn);
  padding: 1rem 2rem;
  border-radius: 10rem;
  cursor: pointer;
  border: 2px solid var(--color-bg-hd-btn);
}

.sedans a:hover, .suvs a:hover, .luxury a:hover{
    background-color: transparent;
    color: var(--color-bg-hd-btn);
}

.sedans {
  background: var(--color-first-clmn);
  
}
.sedans a {
  color: var(--color-first-clmn);
}

.suvs {
  background: var(--color-scnd-clmn);
}
.suvs a {
  color: var(--color-scnd-clmn);
}

.luxury {
  background: var(--color-third-clmn);
  
}
.luxury a {
  color: var(--color-third-clmn);
}

@media screen and (max-width: 1100px) {
  main {
    margin: 2rem;
  }

  .main_content {
    grid-template-columns: 1fr;
    max-width: 300px;
    height: 100%;
  }

  .main_content-wrapper {
    height: 380px;
  }

  .main_content-wrapper p {
    margin-right: 1rem;
    margin-bottom: 2.5rem;
  }

  a {
    margin-bottom: 2.5rem;
  }
}
